<footer>
<nav>
    Social links:
    <ul>
      <li><a href="https://github.com/filfreire">github</a></li>
      <li><a href="https://www.linkedin.com/in/filfreire">linkedin</a></li>
      <li><a href="https://stackoverflow.com/users/7468990/filfreire">stackoverflow</a></li>
      <li><a href="https://twitter.com/filrfreire">twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCGLbbk5mMfdcGuDb5pOP8Jg">youtube</a></li>
      <li><a href="https://keybase.io/filfreireadidas">keybase</a></li>
    </ul>
  </nav>
<nav>
  <ul>
    <li>
      <small>Made with <a href="https://github.com/yegor256/tacit">Tacit</a>
       by <a href="https://filfreire.com">Filipe Freire</a>, 2017-2020</small>
    </li>
  </ul>
</nav>
</footer>
