<footer>
<nav>
    Social stuff:
    <ul>
      <li><a href="https://twitter.com/filrfreire">twitter</a></li>
      <li><a href="https://github.com/filfreire">github</a></li>
      <li><a href="https://www.youtube.com/channel/UCGLbbk5mMfdcGuDb5pOP8Jg">youtube</a></li>
      <li><a href="https://www.linkedin.com/in/filfreire">linkedin</a></li>
      <li><a href="https://stackoverflow.com/users/7468990/filfreire">stackoverflow</a></li>
      <li><a href="https://gitlab.com/filipefreire">gitlab</a></li>
      <li><a href="https://t.me/filfreire">telegram</a></li>
      <li><a href="https://www.xing.com/profile/Filipe_Freire2">xing</a></li>
      <li><a href="https://soundcloud.com/filfreire">soundcloud</a></li>
      <li><a href="https://www.reddit.com/user/filfreire/">reddit</a></li>
      <li><a href="https://hackerone.com/filfreire">hackerone</a></li>
    </ul>
  </nav>
<nav>
  <ul>
    <li>
      <small>Made with <a href="https://github.com/yegor256/tacit">Tacit</a>
       by <a href="https://filfreire.com">Filipe Freire</a>, 2017-2018</small>
    </li>
  </ul>
</nav>
</footer>
