<header>
  <figure>
    <img src="/assets/img/11976836.jpeg" alt="filfreire user image" style="max-height: 100px;">
  </figure>
  <nav>
    <ul>
      <li><a href="https://twitter.com/filrfreire"><i class="fa fa-2 fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/filfreire"><i class="fa fa-2 fa-github" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/filfreire"><i class="fa fa-2 fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="https://stackoverflow.com/users/7468990/filfreire"><i class="fa fa-2 fa-stack-overflow" aria-hidden="true"></i></a></li>
      <li><a href="https://gitlab.com/filipefreire"><i class="fa fa-2 fa-gitlab" aria-hidden="true"></i></a></li>
      <li><a href="https://t.me/filfreire"><i class="fa fa-2 fa-telegram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.xing.com/profile/Filipe_Freire2"><i class="fa fa-2 fa-xing" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/talks">talks</a></li>
      <li><a href="/other-stuff">other stuff</a></li>
    </ul>
  </nav>
</header>
