<header>
  {% assign current = page.url | downcase | split: '/' %}
  <nav>
    <ul>
      <li><a href="/">{% if current[1] == Nil %}<b><u>home</u></b>{% else %}home{% endif %}</a></li>
      <li><a href="/work/">{% if current[1] == 'work' %}<b><u>work</u></b>{% else %}work{% endif %}</a></li>
      <li><a href="/onboard/">{% if current[1] == 'onboard' %}<b><u>onboard</u></b>{% else %}onboard{% endif %}</a></li>
      <li><a href="/cv_filipe.pdf">resume</a></li>
      <li><a href="/feed.xml">rss</a></li>
    </ul>
  </nav>
</header>
