body {
    font-family: "Georgia","Times New Roman",serif;
}

.page-header {
    background-image: none;
    background-color: none;
    color: #444;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
     color: #444;
}

.site-footer {
    display: none;
}
