---
layout: default
disqus: false
archive: false
---

<article>
  <h2>{{ page.title }}</h2>
  <blockquote>
    <time datetime="{{ page.date | date:"%B %d, %Y" }}">{{ page.date | date:"%B %d, %Y" }}</time>
    <footer>
      {% if page.categories.size > 0 %}
        {{ page.categories | array_to_sentence_string }}
      {% endif %}
    </footer>
  </blockquote>
  {% if page.image %}
  <figure>
    <img src="{{page.image}}" alt="{{page.image_alt}}">
    <figcaption>{{page.caption}}</figcaption>
  </figure>
  {% endif %}
  {{content}}
</article>
